keybinds {
    tmux clear-defaults=true {}

    unbind "Ctrl g"
    normal {
        bind "Ctrl m" { SwitchToMode "locked"; }
    }
    locked {
        bind "Ctrl m" { SwitchToMode "normal"; }
    }

    shared {
        bind "Ctrl h" { MoveFocusOrTab "Left"; }
        bind "Ctrl l" { MoveFocusOrTab "Right"; }
        bind "Ctrl j" { MoveFocus "Down"; }
        bind "Ctrl k" { MoveFocus "Up"; }

        bind "PageUp" { HalfPageScrollUp; }
        bind "PageDown" { HalfPageScrollDown; }
    }
}

pane_frames false
theme "catppuccin-macchiato"
default_mode "locked"
session_serialization true
scrollback_lines_to_serialize 0
