layout {
	default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
    }
    pane_template name="mypane" {
        borderless true
    }
	tab name="editor" focus=true {
		mypane command="fish" {
			args "-c" "zellij action rename-tab $(basename $PWD) && helix"
		}
    }
	tab name="shell 1" focus=false {
		mypane command="fish"
    }
	tab name="shell 2" focus=false {
	    pane split_direction="horizontal" {
			mypane command="fish" size="80%"
			mypane command="fish" size="20%"
	    }
    }
	tab name="files" focus=false {
		mypane command="yazi"
	}
	tab name="git" focus=false {
		mypane command="lazygit"
	}
}
