layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        children
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="editor" {
        pane stacked=true {
            pane command="$EDITOR" name="editor" expanded=true
            pane command="yazi" name="files"
            pane command="lazygit" name="git"
        }
    }
    tab name="shell 1" {
        pane command="$SHELL"
    }
    tab name="shell 2" {
        pane command="$SHELL"
    }
    tab name="shell 3" {
        pane command="$SHELL"
    }
    swap_floating_layout {
        floating_panes max_panes=1 {
            pane x="5%" y="5%" width="90%" height="90%"
        }
        floating_panes max_panes=2 {
            pane x="4%" y="5%" width="45%" height="90%"
            pane x="51%" y="5%" width="45%" height="90%"
        }
    }
}
