// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#spawn-sh-at-startup

spawn-sh-at-startup "qs -c noctalia-shell"
spawn-sh-at-startup "niri-floating-workaround"
spawn-at-startup "vicinae" "server"
spawn-at-startup "equibop" "--start-minimized"
spawn-at-startup "spotify"
spawn-at-startup "stretchly"
spawn-at-startup "Telegram"
