// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#spawn-sh-at-startup

spawn-sh-at-startup "qs -c noctalia-shell"
spawn-sh-at-startup "niri-floating-workaround"
spawn-sh-at-startup "niri-bar-game-workaround"
spawn-at-startup "vicinae" "server"

spawn-at-startup "thunderbird"
spawn-at-startup "spotify"
spawn-at-startup "Telegram"
