// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs

output "HDMI-A-1" {
    mode "3840x2160@143.988"
    scale 1.5
    variable-refresh-rate on-demand=true
}

output "DP-1" {
    mode "3840x2160@100.000"
    position x=0 y=0
    scale 1.5
    variable-refresh-rate on-demand=true
    off
}
